@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #819b57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary-dark);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
ul {
    list-style-type: none;
}
address {
    font-style: normal;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Section */
.section {
    padding: 48px 0;
}
.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title .accent {
    color: var(--color-brand-dark);
}
/* Button */
.button {
    font-weight: 600;
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}
/* Link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
}
.link:hover {
    /* font-weight: 600; */
    color: var(--color-brand-light);
}
/* Header */
.header {
    background-color: #989898;
}
.header-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.menu {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 64px;
    flex-grow: 1;
}
/* Hero section */
.hero-section {
    padding: 272px 0;
}
.hero-title {
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: var(--color-primary-light);
}
.hero-title .accent {
    color: var(--color-brand-light);
}
/* Advantages */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-light);
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.advantages-item {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 20px;
}
/* Traditions */
.traditions-section {
    padding-top: 96px;
}
.traditions-container {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.traditions-content {
    /* max-width: 710px; */
    display: flex;
    flex-basis: 710px;
    flex-direction: column;
    row-gap: 42px;
}
.traditions-title {
    /* margin-bottom: 42px; */
}
.traditions-text.limited {
    max-width: 340px;
}
.traditions-text .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}
.traditions-text .uppercase {
    text-transform: uppercase;
}
/* Chefs */
.chefs-title {
    margin-bottom: 80px;
}
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}
/* Formats */
.formats-title {
    margin-bottom: 80px;
}
.format-title {
    font-size: 24px;
    font-weight: 600;
}
.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.formats-card {
    padding: 24px;
    border: 1px solid lightblue;
    border-radius: 16px;
}
.format-text p {
    font-size: 14px;
    font-weight: 300;
}
/* Contacts */
.contacts-title {
    margin-bottom: 16px;
}
/* Footer */
.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.address-link:hover {
    color: var(--color-brand-light);
}
.address-copyright {
    font-size: 14px;
}
